html, body {
    width: 100%;
    height: 100%;
    font-family: math;
}

#board {
    display: flex;
    flex-wrap: wrap;

    width:262px; height:fit-content; margin:0 auto; padding:10px; border:1px solid black; border-radius:5px; margin-top:50px;
}
#underBoard {
    width:262px; height:fit-content; margin:0 auto; padding:10px; border:1px solid black; border-radius:5px; margin-top:50px;

}

.box {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    background-color:rgba(212,250,76,0.3);
    font-size:3em;
    text-align: center;
    line-height: 75px;
    margin: 5px;
    animation: appear 1s;
    border-radius: 6px;

    cursor: pointer;
    transition: all 0.8s;
}
.box-clicked {
    background-color: #ccc;
    color:#aaa;
}

.box-valid {
    background-color:rgba(212,250,76,1);
    transform: scale(0.8);
}

@keyframes appear {
    from {
        transform: scale(0) rotateY(180deg);
    }
    to {
        transform: scale(1) rotateY(0deg);
    }
}


.box.error {
    color: rgba(144,58,58,1);
    background-color: rgba(255,160,190,1);
}
.box.success {
    color: rgba(11,138,22,1);
    background-color: rgba(172,251,172,1);
}
.box.notice {
    color: rgba(18,16,151,1);
    background-color: rgba(184,217,255,1);
    cursor: not-allowed;
}


.no-shuffle {
    animation-duration: 250ms;
}



#shuffleButton {
    padding: 5px 10px;
    margin: 15px;
    border-radius: 3px;
    border: 0px solid black;
    position: relative;

}
.shuffleActiv {
    background-color: aqua;
    border-top: 0px solid rgb(47, 61, 63) !important;
    margin-bottom: 3px;
    top: 3px;
}
.shuffleNotActiv {
    border-bottom: 3px solid rgb(47, 61, 63) !important;
    border-right: 1px solid rgb(47, 61, 63) !important;
    border-left: 1px solid rgb(47, 61, 63) !important;

    background-color: aquamarine;
}


#hourGlassImg {
    width:30px; 
    height:30px;
}
.hourGlassAnim {
    animation: hourglassAnim 1s 0s infinite ease-in-out;
    transform: rotate(0deg);
}
@keyframes hourglassAnim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}